@model List<Instructor>
@{
	ViewData["Title"] = "Index";
	var instructor = Model;
	Layout = "MyLayout";
}
<hr />
<h2 class="text-center" id="#">@instructor.Count Instructors</h2>
<hr>
@if (!Model.Any())
{
	<div class="alert alert-warning">Nothing added yet!</div>
	@if (User.IsInRole("Admin"))
	{
		<div class="text-center"><a asp-action="Add" class="bi bi-pen btn btn-success">Add new Instructor</a></div>
		<br />
	}
}
else
{
	<div class="container-xl">
		<div class="table-responsive">
			<div class="table-wrapper">
				<table class="table table-hover  table-bordered m-4 fw-bold table-striped">
					<thead>
						<tr style="background-color:lightgray;border-bottom:3px">
							<th colspan="2"> <h2 style="color:darkblue">Manage Instructors</h2></th>

							<th>
								@if (User.IsInRole("Admin"))
								{
									<div class="text-center">
										<a asp-action="Search" class="btn fw-bold btn-outline-dark">Search</a>
										<a asp-action="Add" class="bi bi-pen btn btn-success">Add new Instructor</a>
									</div>
								}
							</th>
						</tr>
						<tr style="border-bottom:3px">
							<th class="text-center"><h4>#</h4></th>
							<th class="text-center"><h4>Name</h4></th>
							<th colspan="3" class="text-center"><h4>Action</h4></th>
						</tr>
					</thead>
					<tbody>
						@for (int i = 0; i < instructor.Count; i++)
						{
							<tr class="text-center">
								<td>@(i + 1)</td>
								<td style="font-family:Courier New, Courier, monospace">@instructor[i].Name</td>
								<td>
									<a asp-action="Details" asp-route-id="@instructor[i].Id" class="bi bi-tag btn btn-sm" style="background-color:cornflowerblue">Details</a>
									@if (User.IsInRole("Admin"))
									{
										<a asp-action="Edit" asp-route-id="@instructor[i].Id" class="bi bi-pencil btn btn-warning btn-sm" aria-hidden="true">Edit</a>
										<a asp-action="Delete" asp-route-id="@instructor[i].Id" asp-fragment="#" class="btn btn-danger btn-sm" class="bi bi-trash btn btn-danger btn-sm" aria-hidden="true" onclick="return confirm('Are you Sure to delete ?')">Delete</a>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br />
}
