@model List<CourseResult>
@{
	var courseResult = Model;
	Layout = "_Layout2";
}
<h2 class="text-center">@courseResult.Count Result</h2>
<hr>
@if (!Model.Any())
{
	<div class="alert alert-warning">Nothing added yet!</div>
	@if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
	{
		<div class="text-center ">
			<a class="btn btn-success" asp-action="Add">Add new Result</a>
		</div>
	}
}
else
{
	<div>
		<div class="text-center "><a class="btn btn-success" asp-action="Create">Add new Result</a></div>
		<table class="table table-hover  table-bordered m-4 fw-bold table-striped" style="background-color:lightgray">
			<tr>
				<th>#</th>
				<th>Course</th>
				<th>Degree</th>
			</tr>
			@for (int i = 0; i < courseResult.Count; i++)
			{
				<tr class="text-center">
					<td>@(i + 1)</td>
					<td style="font-family:Courier New, Courier, monospace">@(courseResult[i]?.Course?.Name ?? "Not Assign")</td>
					@if (courseResult[i].Degree >= 60)
					{
						<td style="color:forestgreen">@courseResult[i].Degree%</td>
					}
					else
					{
						<td style="color:red">@courseResult[i].Degree%</td>
					}
				</tr>
			}

		</table>
		<hr>
	</div>
}