@model CourseViewModel
@{
	var course = Model;
	var Department = ViewBag.DeptName;
	Layout = "_Layout2";
}
<div class="card card-header shadow">

	<h1 class="text-center border border-3 bg-dark" style="color:lightgreen">Selected Item</h1>
	<div class="card shadow">
		<div class="card-body text-center shadow" style="background-color:lightgrey">
			<h2 class="card-title p-3">Name :  @course.Name</h2>
			<h4 class="card-text" style="color:mediumblue">Department :@(Department?.Name ?? "Not Assign")</h4>
			<h5 class="card-text" style="color:cornflowerblue">Grade : @course.Grade%</h5>
			<h5 class="card-text" style="color:cornflowerblue">MinGrade : @course.MinDegree%</h5>
			<div>
				<a asp-action="Index" class="btn btn-dark fw-bold">Return back</a>
				@if (User.IsInRole("Admin"))
				{
					<a asp-action="Edit" asp-route-id="@course.Id" asp-fragment="#" class="btn btn-warning fw-bold">Edit</a>
					<a asp-action="Delete" asp-route-id="@course.Id" asp-fragment="#" class="btn btn-danger fw-bold" onclick="return confirm('Are you Sure to delete ?')">Delete</a>
				}
			</div>
		</div>
	</div>
</div>
